<h1>Hair Salon</h1>

<p>Add a new stylist:</p>

<form action="/stylists" method="post">
  <label for="stylist_name">Name of Stylist:</label>
  <input id="stylist_name" type="text" name="stylist_name">
  <button class="btn #607d8b blue-grey" type="submit" name="action">Add Stylist</button>
</form>

<p>Add clients to any stylist:</p>
<form class="form-group" action="/clients" method="post">
  <label for="stylist_id">Select a Stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.stylist_name() %> </option>
      <% end %>
    </select>

  <label for="client_name">Name of Client:</label>
  <input id="client_name" type="text" name="client_name">

  <label for="contact">Contact of Client:</label>
  <input id="contact" type="text" name="contact">

  <button class="btn #607d8b blue-grey" type="submit" name="action">Add Client</button>
</form>

<% if @stylists.any?() %>
  <p>Click on a stylist to see their clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.stylist_name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no stylists yet!</p>
  <% end %>
