<h3>Clients</h3>
<% @stylist.stylist_name %>
<% if @stylist.clients().any?() %>
<h3>Here are all the clients under this stylist</h3>

<ol>
  <% @stylist.clients().each() do |client| %>
    <li><%= client.client_name() %> - <%= client.contact() %></li>
  <% end %>
</ol>
<% else %>
  <p>There are no clients yet!</p>
<% end %>

<p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.stylist_name() %> stylist</a></p>
<p><a href="/">Return to Main Page</a></p>
